.dashboard {
	container-type: inline-size;
	container-name: dashboard;
}

.ticketNavbar {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.ticketSelectList {
	@container (width < 750px) {
		display: none !important;
	}
}

.ticketSelectToggle {
	display: none !important;

	@container (width < 750px) {
		display: block !important;
	}
}

.createTicketBtn {
	@container (width < 1000px) {
		width: 3.2rem;
	}
}

.createTicketBtnContent {
	@container (width < 1000px) {
		display: none;
	}
}
